<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>首页</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/index.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</head>
<body>
<!-- 页面头部部分 -->
<div class="header common_width">
	<a href="" class="text">
		<p class="text1">信息抓取系统</p>
		<p class="text2">infoFetch.hw13.cn</p>
	</a>
	<!-- 搜索框 -->
	<input type="search" placeholder="请输入小说名称或作者" class="search">
	<input type="submit" class="btn" value="搜索">
	<!-- 登录 -->
	<div class="reg">
		<a href="javascript:;">登录</a>
	</div>
</div>
<!-- 页面分类部分 -->
<div id="app">
	<div class="container common_width">
		<div class="navigate">
			<ul class="nav nav-pills hidden-xs">
				<li class="type" v-for="item in typeList">
					<a href="">{{ item  }}</a>
				</li>
			</ul>

			<ul class="nav nav-pills nav-stacked visible-xs-* hidden-lg hidden-md hidden-sm">
				<li class="type" v-for="item in typeList">
					<a href="">{{ item  }}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- 页面主体部分 -->
<div class="main common_width">
	<!-- 主体左侧部分 -->
	<div class="main_left col-lg-7">
		<div class="part col-lg-6">	
				<a href="" class="img"><img src="images/feng.jpg" alt="infoFetch.hw13.cn">
				</a>
				<div class="txt1">
					<div class="item">
						<a href="">逢春</a>
						<span>这碗粥</span>
					</div>
					<p>赵逢青跟江琎的那一晚，有悲也有喜。 悲的是，她的纯贞没了。 喜的是，她也可以讲一个谁年轻时没爱过个把人渣的故事。 这是一个小太妹和尖子生的故事。 洁癖党慎
					</p>
				</div>
		</div>	
		<div class="part col-lg-6">	
				<a href="" class="img"><img src="images/hong.jpg" alt="infoFetch.hw13.cn">
				</a>
				<div class="txt1">	
					<div class="item">
						<a href="">红楼之熊孩子贾琮</a>	
						<span class="author">金子曰</span>
					</div>
					<p>===警告=== 1、标题表示，主角是个好人。 2、贯彻金子亘古不变的丛林法则和双重标准，无圣母无包公。 3、红楼女主林黛玉将走从军和朝堂路线，接受不了林妹妹变军师权相的请谨慎阅读
					</p>
				</div>
		</div>
		<div class="part col-lg-6">	
			<a href="" class="img"><img src="images/xian.jpg" alt="infoFetch.hw13.cn"></a>
			<div class="txt1">	
				<div class="item">
					<a href="">先生太冷怎么办</a>	
					<span class="author">雀沉</span>
				</div>
				<p>曾经有一个年轻有为的教授，她高冷不可攀； 曾经有一个初出茅庐的菜鸟，她初生不怕虎。 菜鸟觉得教授整日摆一张冰块脸不利于社会和谐，于是她决定自告奋勇地去温暖教授的心； 后来教授望着哭着喊着不肯下床的菜鸟，头疼地叹了口气：天天这样，还能不能行了？本文又名《示爱的一百零八式》或《我觉得有个迷妹在追我》物理学教授×新晋小记者/高冷老干部vs话唠小软妹
				</p>
			</div>
		</div>
		<div class="part col-lg-6">	
			<a href="" class="img"><img src="images/san.jpg" alt="infoFetch.hw13.cn"></a>
			<div class="txt1">	
				<div class="item">
					<a href="">三寸人间</a>	
					<span class="author">耳根</span>
				</div>
				<p>举头三尺无神明，掌心三寸是人间。这是耳根继《仙逆》《求魔》《我欲封天》《一念永恒》后，创作的第五部长篇小说《三寸人间》。
				</p>
			</div>
		</div>
	</div>
	<div class="main_right col-lg-4">
		<div class="inform">
			<p>公告牌</p>
			<p>[公告]<a href="">发现章节未及时更新请联系我们</a></p>
		</div>
		<div class="recommend inform">
			<p>本周强推</p>
			<p>[都市]<a href="">极品透视</a><span>想见江南</span></p>
			<p>[都市]<a href="">极品透视</a><span>想见江南</span></p>
			<p>[都市]<a href="">极品透视</a><span>想见江南</span></p>
			<p>[都市]<a href="">极品透视</a><span>想见江南</span></p>
			<p>[都市]<a href="">极品透视</a><span>想见江南</span></p>
		</div>
	</div>
</div> 
<!-- 页面中间部分 -->
<div class="main2 common_width clearfix">
	<div class="recently">
		<div class="update">
			<p>最近更新小说列表</p>
		</div>
		<div class="fiction">
			<p>[其他小说]
			<a href="javascript:;">我最厉害</a>
			<a href="javascript:;">章节</a>
			<span>作者</span>
			</p>
			<p>[玄幻小说]
			<a href="javascript:;">我最厉害</a>
			<a href="javascript:;">章节</a>
			<span>作者</span>
			</p>
			<p>[其他小说]
			<a href="javascript:;">我最厉害</a>
			<a href="javascript:;">章节</a>
			<span>作者</span>
			</p>
			<p>[悬疑小说]
			<a href="javascript:;">我最厉害</a>
			<a href="javascript:;">章节</a>
			<span>作者</span>
			</p>
			<p>[都市小说]
			<a href="javascript:;">我最厉害</a>
			<a href="javascript:;">章节</a>
			<span>作者</span>
			</p>
			<p>[古言小说]
			<a href="javascript:;">我最厉害</a>
			<a href="javascript:;">章节</a>
			<span>作者</span>
			</p>
			<p>[其他小说]
			<a href="javascript:;">我最厉害</a>
			<a href="javascript:;">章节</a>
			<span>作者</span>
			</p>
		</div>
	</div>
	<div class="new">
		<div class="update">
			<p>最新入库小说</p>
		</div>
		<div class="fiction2">
			<p>[其他小说]
			<a href="javascript:;">我最厉害</a>
			<span>作者</span>
			</p>
		</div>
	</div>
</div>
<!-- 页面尾部 -->
<div class="footer common_width">
	<p>本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。</p>
	<p>Copyright © 2015-2022 黄炜 All Rights Reserved.</p>
	<p><a href="http://www.miitbeian.gov.cn/">粤ICP备18013386号</a></p>
</div>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>