<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>首页</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<div id="app">
	<div class="container">
		<div class="row">
			<div class="navigate">
				<ul class="nav nav-pills hidden-xs">
					<li class="type" v-for="item in typeList">
						<a href="">{{ item  }}</a>
					</li>
				</ul>

				<ul class="nav nav-pills nav-stacked visible-xs-* hidden-lg hidden-md hidden-sm">
					<li class="type" v-for="item in typeList">
						<a href="">{{ item  }}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var vue = new Vue({
	el:'#app',
	data:{
		typeList: [
			"玄幻",
			"科幻",
			"言情",
			"武侠",
			"仙侠",
			"体育",
			"军事",
			"游戏",
			"历史",
			"灵异",
		],
	},
	methods:{

	}

})
</script>
<div class="content common_width">
	<div class="navigate">
		<ul class="nav nav-pills hidden-xs">
			<li><a href="">首页</a></li>
			<li><a href="">玄幻</a></li>
			<li><a href="">武侠</a></li>
			<li><a href="">仙侠</a></li>
			<li><a href="">都市</a></li>
			<li><a href="">言情</a></li>
			<li><a href="">历史</a></li>
			<li><a href="">军事</a></li>
			<li><a href="">游戏</a></li>
			<li><a href="">体育</a></li>
			<li><a href="">科幻</a></li>
			<li><a href="">灵异</a></li>
		</ul>
		<ul class="nav nav-pills nav-stacked visible-xs-* hidden-lg hidden-md hidden-sm">
			<li><a href="">玄幻</a></li>
			<li><a href="">武侠</a></li>
			<li><a href="">仙侠</a></li>
			<li><a href="">都市</a></li>
			<li><a href="">言情</a></li>
			<li><a href="">历史</a></li>
			<li><a href="">军事</a></li>
			<li><a href="">游戏</a></li>
			<li><a href="">体育</a></li>
			<li><a href="">科幻</a></li>
			<li><a href="">灵异</a></li>
		</ul>
	</div>
</div> -->
</body>
</html>
